window {
  background-color: transparent;
}

#app {
  background-color: rgba(18,18,20,0.76);
  border-radius: 999px;
  padding: 6px 14px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  border-radius: 999px;
  border: none;
}

#menu-item {
  padding: 3px;
  padding-left: 0;
}

menu {
  border: none;
  box-shadow: none;
  outline: none;
  background-image: none;
}

menuitem {
  padding: 3px 6px;
}

#pv-item {
  background-color: rgba(18,18,20,0.76);
  transition: all .2s ease-out;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.062);
}

#pv-item.hover {
  background-color: rgba(255,255,255,0.12);


}
